/*************************************** TAG SELECTORS *******************************************/
body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;
  background-color: #f9f6f7;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px, auto, 0, auto;
  line-height: 1.1;
  background-color: #eaf5ff;
  color: #66BFBF;
}

 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bolder;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #A8A8A8 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}


p {
  line-height: 2;
}

/*************************************** CLASS SELECTORS *******************************************/
.top-container {
  background-color: #eaf5ff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 100px 0;
  background-color: #f9f6f7;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 50px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.cloud-1 {
  position: absolute;
  top: 40px;
  right: 300px;
}

.cloud-2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.border-2 {
  margin: 200px auto 100px auto;
}

.jonah-profile {
  height: 200px;
  width: 200px;
}

.skills-image {
  float: left;
  width: 30%;
  margin-right: 30px;
}

.skills-image-2 {
  float: right;
  width: 30%;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 40px auto;
}

.aprogrammer {
  font-weight: 900;
  color: #66BFBF;
  font-size: larger;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0 20px 0;
}

.paragraph-2 {
  width: 30%;
  margin: 30px auto 30px auto;
}

.border-2 {
  margin: 200px auto 100px auto;
}

.BUTTON_QPF {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 23px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_QPF:hover {
  border: solid #337FED 1px;
  background: #303ECB;
  background-image: -webkit-linear-gradient(top, #303ECB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #303ECB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #303ECB, #2BC4AD);
  background-image: -o-linear-gradient(top, #303ECB, #2BC4AD);
  background-image: linear-gradient(to bottom, #303ECB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/*************************************** ID SELECTORS *******************************************/
